@{
    ViewBag.Title = "Gingerbread Market";
}
<div class="row">
    <div class="col-md-6 bg-secondary">
        <span>
        <h1>Buy</h1>
            <form>
                <div class="form-group">
                    <label for="buyPrice">Price</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" min="0" step="0.01" class="form-control" id="buyPrice" aria-describedby="buyPriceHelp" placeholder="Enter price of gingerbread">
                    </div>
                    <small id="buyPriceHelp" class="form-text text-muted">There should be a price of gingerbreads that you want to buy.</small>
                </div>
                <div class="form-group">
                    <label for="buyCount">Count</label>
                    <input type="number" min="0" class="form-control" id="buyCount" aria-describedby="buyCountHelp" placeholder="Enter count of gingerbread">
                    <small id="buyCountHelp" class="form-text text-muted">There should be a number of gingerbreads that you want to buy.</small>
                </div>
                <div class="form-group">
                    <label for="InputBuyEmail">Email address</label>
                    <input type="email" class="form-control" id="InputBuyEmail" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-success btn-lg">OK</button>
            </form>
        </span>
        <div>
            <h2>Orders to buy</h2>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                </tr>
                <tr>
                    <td colspan="2">Larry the Bird</td>
                    <td>twitter</td>
                </tr>
                </tbody>
            </table >
        </div>
    </div>
    <div class="col-md-6">
        <span>
            <h1>Sell</h1>
            <form>
                <div class="form-group">
                    <label for="sellPrice">Price</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" min="0" step="0.01" class="form-control" id="sellPrice" aria-describedby="sellPriceHelp" placeholder="Enter price of gingerbread">
                    </div>
                    <small id="sellPriceHelp" class="form-text text-muted">There should be a price of gingerbreads that you want to sell.</small>
                </div>
                <div class="form-group">
                    <label for="sellCount">Count</label>
                    <input type="number" min="0" class="form-control" id="sellCount" aria-describedby="sellCountHelp" placeholder="Enter count of gingerbread">
                    <small id="sellCountHelp" class="form-text text-muted">There should be a number of gingerbreads that you want to sell.</small>
                </div>
                <div class="form-group">
                    <label for="InputSellEmail">Email address</label>
                    <input type="email" class="form-control" id="InputSellEmail" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-danger btn-lg">OK</button>
            </form>
        </span>
        <div>
            <h2>Orders to sell</h2>
            <table  class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                </tr>
                <tr>
                    <td colspan="2">Larry the Bird</td>
                    <td>twitter</td>
                </tr>
                </tbody>
            </table >
        </div>
    </div>
</div>
<div>
    <h2>Completed deals</h2>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
            <td>fat</td>
            <td>fat</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
            <td>twitter</td>
            <td>twitter</td>
            <td>twitter</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
            <td>twitter</td>
            <td>twitter</td>
            <td>twitter</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
            <td>twitter</td>
            <td>twitter</td>
            <td>twitter</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
            <td>twitter</td>
            <td>twitter</td>
            <td>twitter</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
            <td>twitter</td>
            <td>twitter</td>
            <td>twitter</td>
        </tr>
        </tbody>
    </table >
</div>